.imperial-pale-ale,
.american-strong-ale {
  background-color: #c78732;
  background-image: linear-gradient(to right, #c78732, lighten(#c78732, 20), #c78732);
}

.pale-ale,
.english-pub-ale {
  background-color: #ef9f38;
  background-image: linear-gradient(to right, #ef9f38, lighten(#ef9f38, 20), #ef9f38);
}

.milk-stout,
.oatmeal-stout,
.stout,
.imperial-stout,
.russian-stout {
  color: white;
  background-color: #141412;
  background-image: linear-gradient(to right, #141412, lighten(#141412, 20), #141412);
  
}

.porter,
.imperial-porter {
  color: white;
  background-color: #672315;
  background-image: linear-gradient(to right, #672315, ligthen(#672315, 20), #672315);
}

.scotch-ale {
  color: white;
  background-color: #772004;
  background-image: linear-gradient(to right, #772004, lighten(#772004, 20), #772004);
}

.dunkel {
  color: white;
  background-color: #660f0b;
  background-image: linear-gradient(to right, #660f0b, lighten(#660f0b, 20), #660f0b);
}

.japanese-rice-lager,
.pilsner {
  background-color: #fce051;
  background-image: linear-gradient(to right, #fce051, lighten(#fce051, 20), #fce051);
}