.weekly-goal {
  margin: auto;
  max-width: 300px;
  border-radius: 5px;
  border: 2px solid #ccc;
  box-shadow: 5px 5px 5px #eee;
  padding: 1em 2em;
  margin-bottom: 1em;

  h3 {
    text-align: center;
  }
}

progress {
  width: 100%;
}